body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
