<div class="formField">
    <label class="label">{{fieldTitle}}</label>
    <input ref="fieldRef"
           :id="fieldName"
           :type="fieldType"
           :placeholder="placeholder"
           v-model.trim="field"
           @input="check($event.target.value)"

    />

    <span v-show="!isFieldValid" class="error"> Required field </span>
    <span v-if="fieldType==='password' && !$v.field.minLength" class="error"> Password is too short! </span>
    <span v-if="fieldType==='password'" v-show="isHaveSpace"
          class="error"> You can't use spaces in your password! </span>
    <span v-if="fieldType === 'email' && !$v.field.email" class="error">Please enter valid email</span>
</div>

