.container
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  font-family: 'Montserrat', sans-serif
  border: 1px solid #D4D9E2
  margin: 10px
  .element
    width: 250px
    height: 250px
  .element img
    height: 90%
    width: 90%
  .element button
