.container
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  font-family: 'Montserrat', sans-serif

  .element
    border: 1px solid #D4D9E2
    min-width: 300px
    margin: 10px
    cursor: pointer




