<div class="container">
    <div>
        <img src="../../assets/photo.png">
        <p> Email: {{user.email}} </p>
        <p> First Name: {{user.firstName}} </p>
        <p> Last Name: {{user.lastName}} </p>
        <p> Gender: {{user.gender}} </p>
        <p> Birthday: {{user.birthday}} </p>
        <p> Intention: {{user.intention}} </p>
        <button @click="showModalDelete = true">Delete Profile</button>
        <br>
        <button @click="showModalUpdate = true">Update Info</button>


        <ModalWindowDelProf v-if="showModalDelete" @close="showModalDelete = false"></ModalWindowDelProf>

    </div>
</div>
