<div class="container">

    <div class="content">
        <label>
            <span>E-mail:</span>
            <input type="text" ref="email" @change="handle()"/>
        </label>
        <label>
            <span>Password:</span>
            <input type="password" ref="password" @change="handle()"/>
        </label>
        <label> First Name:
            <input type="text" ref="firstName" @change="handle()"/>
        </label>
        <label> Last Name:
            <input type="text" ref="lastName" @change="handle()"/>
        </label>
        <label> Gender:
            <select name="gender" ref="gender" size="1" @change="handle()">
                <option></option>
                <option>Male</option>
                <option>Female</option>
                <option>Unknown</option>
            </select>
        </label>
        <label> Birthday:
            <date-pick v-model="birthday" ref="birthday" @change="handle()"></date-pick>
        </label>
        <label> Intention:
            <select name="intention" ref="intention" size="1" @change="handle()">
                <option></option>
                <option>Date</option>
                <option>Friendship</option>
            </select>
        </label>
        <button @click="submit()">Create user</button>
    </div>
</div>
